<!-- -*- xml -*- -->
<launch>
  <arg name="namespace" default="$(optenv NAMESPACE)"/>

  <master auto="start"/>
  <param name="~tf_prefix" value="$(arg namespace)" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" ns="$(arg namespace)/">
    <param name="~tf_prefix" value="$(arg namespace)" />
    <param name="oscillation_timeout" value="5" />
    <param name="planner_frequency" value="1" />
    <param name="controller_patience" value="5" />
    <param name="planner_patience" value="3" />
    <rosparam param="recovery_behaviors"> [{name: conservative_reset, type: clear_costmap_recovery/ClearCostmapRecovery}, {name: aggressive_reset, type: clear_costmap_recovery/ClearCostmapRecovery},{name: rotate_recovery, type: rotate_recovery/RotateRecovery}] </rosparam>
    <param name="~tf_prefix" value="$(arg namespace)" />
    <rosparam file="$(find uml_nav)/share/nav_config/$(env ROBOT_NAME)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find uml_nav)/share/nav_config/$(env ROBOT_NAME)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find uml_nav)/share/nav_config/$(env ROBOT_NAME)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find uml_nav)/share/nav_config/$(env ROBOT_NAME)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find uml_nav)/share/nav_config/$(env ROBOT_NAME)/base_local_planner_params.yaml" command="load" />
    <!-- <rosparam file="$(find files)/$(env ROBOT_NAME)/global_planner_params.yaml" command="load" /> -->
  </node>

</launch>
